<form method="get" action="search-book">
    <input type="text" name="title" placeholder="Title">
    <input type="submit" value="Search Book">
</form>

<div>
  Suchergebnisse:
  <ul>

  </ul>
</div>


