<form method="get" action="search-book">
    <input type="text" name="title" placeholder="Title, Author, ...">
    <input type="number" name="mr" value="10" min="1" max="20">
    <input type="submit" value="Search">
</form>
<form method="get" action="search-book">
  <input type="text" name="isbn" placeholder="ISBN">
  <input type="submit" value="Search by ISBN">
</form>


