<%- include('partials/header'); %>
  
  <link rel="stylesheet" href="styles/bookElement.css">

  <title>Read Books</title>
</head>
<body>
  <h1>Read Books</h1>
  Hello World!
  <a href="/">Home</a>
  <%- include('partials/bookElement'); %>

<%- include('partials/footer'); %>